# macOS system files
.DS_Store

# Editor settings
.vscode/
.idea/

# Go build artifacts
*.exe
*.out
*.test
*.log

# Binaries
bin/
build/
dist/

# Dependency directories (if any)
vendor/

# Logs
*.log

# Ignore configuration
/config/config.yml
